<% if @favorite_vtubers.present? %>
  <% @favorite_vtubers.each do |vtuber| %>
    <tr>
      <td>
        <%= link_to image_tag(vtuber.image.variant(resize: '100x100')), vtuber_path(vtuber.id) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to vtuber.user.name, user_path(vtuber.user.id) %>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-heart unlike-btn"></i>
        <%= vtuber.favorites.count %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to vtuber.name, vtuber_path(vtuber.id) %>
      </td>
    </tr>
    <br>
  <% end %>
<% else %>
  <tr>
    <td>No favorite Vtubers found.</td>
  </tr>
<% end %>