<table>
  <tbody>
    <tr>
      <td>
        <% @vtubers.each do |vtuber| %>
          <%=link_to vtuber_path(vtuber.id) do %>
            <%# if vtuber.image.present? %>
              <%= image_tag @vtuber.image, size: "200x250" %>
            <%# else %>
              <%#= image_tag("no_image.jpg") %> <!--画像が添付されていない場合の表示 -->
            <%# end %>
          <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% @vtubers.each do |vtuber| %>
          <%=link_to vtuber_path(vtuber.id) do %>
            <%= vtuber.name.truncate(25) %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>