<div class='container-fluid'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Vtuber</h1>
  		<!--%= render 'layouts/errors', obj: @book %>-->
  		<%= render 'form', vtuber: @vtuber %>
  		<%= link_to 'Show', @vtuber %> |
  		<%= link_to 'Back', vtuber_path, class: "back" %>
  </div>
</div>