@use '~bootstrap/scss/bootstrap';



$borderColor: #A0C3D2; //ボーダーの色
$headColor: #EAE0DA; //タイトル背景色
$bodyColor: #EAC7C7; // 背景色
$textColor: #333333; // 吹き出しの色
$textBgColor: #EAE0DA; // 吹き出しの背景色

// reset & base
// *,::before,::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   font-family: "Rounded Mplus 1c";
// }
.chat_img {
  width: auto;
  max-width: 100%;
  height: auto;
}
// ここから
.chat-group-show-talk {
  border: 5px solid $borderColor;
  // タイトル
  &__head {
    background-color: $headColor;
    padding: 10px;
  }
  // トークを囲むdiv
  &__body {
    background-color: $bodyColor;
    padding: 20px;
  }
  // アイコン
  &__icon {
    max-width: 50px;
    min-width: 50px;
    img {
      // border-radius: 50%;
    }
  }
  // 吹き出し
  &__fukidashi {
    display: flex;
    & + & {
      margin-top: 30px;
    }
    // 左側
    &--left {
      p {
        margin-left: 25px;
        &::before {
          clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
          left: -15px;
        }
      }
    }
    // 右側
    &--right {
      flex-direction: row-reverse;
      p {
        margin-right: 25px;
        &::before {
          clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
          right: -15px;
        }
      }
    }
  }
  // コメントテキスト
  &__text {
    max-width: 75%;
    filter: drop-shadow(3px 3px 5px rgba($color: #000000, $alpha: .3));
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    p {
      position: relative;
      display: inline-block;
      color: $textColor;
      background-color: $textBgColor;
      padding: 10px;
      border-radius: 20px;
      & + p {
        margin-top: 15px;
        &::before {
          content: none;
        }
      }
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 15px;
        background-color: $textBgColor;
        position: absolute;
        top: 10px;
      }
    }
  }
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
    oveerflow: hidden;
}

.slider img {
    width:30vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    object-fit: cover;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

.body-bg{
  background:#eee;
}

// p {
//     text-align:center;
//     padding:0px;
// }

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

